<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">

    <meta name="Keywords" content="马乎网,马虎网,马乎看世界,新闻门户网站,新媒体,网络媒体,新闻,财经,科技,娱乐,资讯,体育,汽车" />
    <meta name="Description" content="马乎网给用户推荐最适合的实时资讯内容。内容包括全球热点事件、突发新闻、时事评论、热播影视剧、体育赛事、行业动态、明星动态八卦、百姓生活百态。" />

    <title>
  大乌龙！平头哥酒吧老板不是马云 - 马乎网
</title>
    <link rel="stylesheet" type="text/css" href="/css/pc.css?v=0.0019">

    <!-- 百度统计 -->
    <script>
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?046064086392b37d72404ecfc408f93f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>

    <!-- 百度自动推送链接 -->
    <script>
      (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
      })();
    </script>

    <!-- 360自动推送链接 -->
    <script>
      (function () {
        var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?dfda3fcd0af77bf4e2eac7ca38fcccb0" : "https://jspassport.ssl.qhimg.com/11.0.1.js?dfda3fcd0af77bf4e2eac7ca38fcccb0";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
      })();
    </script>

    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9721794719627360",
        enable_page_level_ads: true
      });
    </script>

  </head>

  <body>
    
<div id="App">
  <div class="detail-wrapper">

    <div class="header">
      <div class="dflex inner">
        <a href="/" class="logo">马乎网</a>
        <div class="flex-1">
          <div class="tags">
              <a class="o " href="/ch/recommend">
                推荐
              </a>
              <a class="o " href="/ch/finance">
                财经
              </a>
              <a class="o " href="/ch/technology">
                科技
              </a>
              <a class="o " href="/ch/entertainment">
                娱乐
              </a>
              <a class="o " href="/ch/hot">
                资讯
              </a>
              <a class="o " href="/ch/sports">
                体育
              </a>
              <a class="o " href="/ch/fashion">
                时尚
              </a>
              <a class="o " href="/ch/game">
                游戏
              </a>
              <a class="o " href="/ch/travel">
                旅行
              </a>
              <a class="o " href="/ch/food">
                美食
              </a>
              <a class="o " href="/ch/history">
                历史
              </a>
              <a class="o " href="/ch/parenting">
                育儿
              </a>
          </div>
        </div>
      </div>
    </div>

	<div style="position:fixed;bottom:0px;right:0px;width:144px;height:198px;">
		<img src="http://mahuwang.cn/upload_image/20181126/20181126224319-hb.jpg" />
	</div>

    <div class="container">

      <div class="recom">
        <div class="" style="">
          <!-- PC_detail_right001 -->
          <!--%= render 'baidu_ad_async.js', mahuwang_ad_id: "u3579195" % -->
		  <script type="text/javascript">
			var sogou_ad_id=995252;
			var sogou_ad_height=280;
			var sogou_ad_width=336;
			</script>
			<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

		      </br>
          <!-- PC_detail_right002 -->
          <!-- %= render 'baidu_ad_async.js', mahuwang_ad_id: "u3573216" % -->
		  <script type="text/javascript">
			var sogou_ad_id=995253;
			var sogou_ad_height=280;
			var sogou_ad_width=336;
			</script>
			<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>


		      </br>
		      <!-- PC_detail_right003 -->
          <!-- %= render 'baidu_ad_async.js', mahuwang_ad_id: "u3573222" % -->
		  <script type="text/javascript">
			var sogou_ad_id=995254;
			var sogou_ad_height=280;
			var sogou_ad_width=336;
			</script>
			<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

        </div>

        <div  class="recom-middle">
        <div class="t" style="margin-bottom: 0;">今日推荐</div>
        <div class="recomm">

            <a class="one" href="/detail?id=5c3ae82487c5f824b1db12d7">
                <div class="s2">
                  <div class="title">
                    她祈望死后墓碑写上：她死过一千次！可惜无人代笔，名字只有母亲
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/e86115aecca54e21baf2bf5510d78907></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/1268f515f6c244f68d260d4cac18ee42></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/599652b97f314607adc213587e0acd94></div>
                  </div>
                  <div class="time">
                    <span>
                      行者心做
                    </span>
                    2019-01-13 15:26
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3b041687c5f824a1687a4b">
                <div class="s2">
                  <div class="title">
                    聂远带妻子亮相机场，羽绒服搭阔腿裤，“皇后娘娘”好会穿搭
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/RF1MDxF1Mdjnxs></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/RF1MDxVAlxwCJg></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/RF1MDxi66KZ711></div>
                  </div>
                  <div class="time">
                    <span>
                      未视界
                    </span>
                    2019-01-13 16:33
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3ae62b87c5f824a5eb5894">
                <div class="s2">
                  <div class="title">
                    飞人博尔特海滨度假 与1米55小女友牵手漫步甜蜜十足
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/RF0cx55B075RNM></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/RF0cx5MIyH1Pmt></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/RF0cx5bFtLRe2e></div>
                  </div>
                  <div class="time">
                    <span>
                      东方IC体坛速递
                    </span>
                    2019-01-13 15:18
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3aee7487c5f824b1db16e0">
                <div class="s2">
                  <div class="title">
                    王祖蓝幸福的一家，李亚男化身晒娃狂魔
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/7b2e916ee8d746e0b9d3642feae792a8></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/ee50d669288049ffa65c3ecf9daab6de></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/ec6ac399268a45bd96ae5d583ca470fd></div>
                  </div>
                  <div class="time">
                    <span>
                      Tiramickey
                    </span>
                    2019-01-13 15:53
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3adce087c5f824b5cb80ed">
                <div class="s2">
                  <div class="title">
                    预售1344万排第一，打败周星驰黄渤，能成为新一代的喜剧之帝吗？
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/931c57e5ddb141e4b9df67837481d6fe></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/77f6e949fb29400482e2f96df7899788></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/54069ce171ba4b7a93ae9e956636bb78></div>
                  </div>
                  <div class="time">
                    <span>
                      阳央洋
                    </span>
                    2019-01-13 14:38
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3af00987c5f824a9c80f4a">
                <div class="s2">
                  <div class="title">
                    从地方台主持人空降为央视主持人的王冠，如今工作顺利生活幸福
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/62b0386d46d14e948031e67dd2bf45d7></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/6cb1d0fd49784528bab620eb4751d755></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/47783883b2754858b92101b9463f3118></div>
                  </div>
                  <div class="time">
                    <span>
                      环球电影爆评
                    </span>
                    2019-01-13 16:00
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3afd8b87c5f824a9c817c8">
                <div class="s2">
                  <div class="title">
                    春节档预售票房破5000万！沈腾2部电影占一大半，网友：还有谁
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/b65a7c8223f7466e9a9b018535fbfb35></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/ab4eafe30bb44a2f807423489cfa4f45></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/13d68b220199417cb4fc9cbf18bcf9ca></div>
                  </div>
                  <div class="time">
                    <span>
                      猫眼电影
                    </span>
                    2019-01-13 16:57
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3ae89e87c5f824b1db1311">
                <div class="s2">
                  <div class="title">
                    据说第一滴血第五部2019年上映，回顾一下前四部
                  </div>
                  <div class="pics dflex">
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/540ed9f957d54dd9bdd46b570ff980fa></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/d32e1502a13b4e2595270ed43eb0522a></div>
                    <div class="flex-1 pic">
                      <img src=https://p3.pstatp.com/list/pgc-image/86398f0e26274d35bab166bdecb7b03a></div>
                  </div>
                  <div class="time">
                    <span>
                      娱木脑袋
                    </span>
                    2019-01-13 15:28
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3aec2d87c5f824ada4541f">
                <div class="s1 dflex">
                  <div class="pic">
                    <img src=https://p3.pstatp.com/list/pgc-image/RExw6BO6dn4FHZ >
                  </div>
                  <div class="info flex-1">
                    <div class="title">
                      李谷一忆《乡恋》文艺创作不应独此一家
                    </div>
                    <!--
					            <div class="time">
                      <span>
                        新京报
                      </span>
                      2019-01-13 15:43
                      </div>
					          -->
                  </div>
                </div>
            </a>


            <a class="one" href="/detail?id=5c3ae05e87c5f824b1db0e1f">
                <div class="s1 dflex">
                  <div class="pic">
                    <img src=https://p3.pstatp.com/list/pgc-image/d1e05491d42e44dba9bb4f6fd96adc77 >
                  </div>
                  <div class="info flex-1">
                    <div class="title">
                      《权利的游戏》第八季4月开播，夜王攻打长城，北境全部沦陷
                    </div>
                    <!--
					            <div class="time">
                      <span>
                        九点剧场
                      </span>
                      2019-01-13 14:53
                      </div>
					          -->
                  </div>
                </div>
            </a>

        </div>
        </div>

        <div class="recom-bottom" id="ad-rb" :class="{'ad-rb-fixed':ad_rb_fixed}">
        <!-- div class="t">热门推荐</div -->
        <!-- mh-pc-detail-right001 -->
        <div style="margin-left: 0px;">
          <!-- %= render 'baidu_ad_async.js', mahuwang_ad_id: "u3568338" % -->

		  <script type="text/javascript">
			var sogou_ad_id=995258;
			var sogou_ad_height=280;
			var sogou_ad_width=336;
			</script>
			<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
        </div>
        </div>

      </div>

      <div class="detail-left">
      <div class="detail">
        <div class="title">大乌龙！平头哥酒吧老板不是马云</div>
        <div class="info">
          <span>互联网</span>
          <span>2019-01-09 14:21</span>
        </div>
        <div class="desc"><!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p ><span class="bjh-p">马云相信不用过多介绍每个人都特别熟悉，因为他真的做到了每个女性“背后唯一的男人”如今的马云在把阿里巴巴打造完美后，也功成身退了，不过虽然马云不在江湖中，但江湖依然有他的“传说”近期马云就因为开办副业酒吧而占据各大媒体热搜榜，可谓是2019年开年之际吸足了眼球。</span></p>
<div class="img-container" >
<img class="normal" width="500px" data-loadfunc="0" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1049108614,37599506&amp;fm=173&amp;app=49&amp;f=JPEG?w=500&amp;h=333&amp;s=AED815C7472307050A35ECA80300E013" data-loaded="0" ><span class="bjh-image-caption" >马云</span>
</div>
<p ><span class="bjh-p">而且这个酒吧的名称更是引的广大网友的注意，因为它的名字叫“HHB”网友寓意“还花呗”但其实人家的代表是“健康快乐”在1月7日凌晨杭州HHB音乐酒吧开业，马云和一众高管、还有明星大腕亮相。更是进行了精彩表演提升人气。</span></p>
<div class="img-container" >
<img class="normal" width="523px" data-loadfunc="0" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1707620709,2941052680&amp;fm=173&amp;app=49&amp;f=JPEG?w=523&amp;h=293&amp;s=3BA5870A0A9A0CD69E999F8B03007085" data-loaded="0" ><span class="bjh-image-caption" >马云酒吧开业讲话</span>
</div>
<div class="img-container" >
<img class="normal" width="520px" data-loadfunc="0" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=869841954,188484521&amp;fm=173&amp;app=49&amp;f=JPEG?w=520&amp;h=292&amp;s=2D71338A0972BED25EE07F8D03003084" data-loaded="0" ><span class="bjh-image-caption" >网友调侃</span>
</div>
<p ><span class="bjh-p">在开业当天马云还亲自上台演说，<span class="bjh-strong" >并表示这个酒吧绝对不是以赚钱为目的</span>，就在大家信以为真的时候，原来这一切的背后是因为这个拥有马云特色的产业不是他开的，估计很多人这下有点懵，因为这一次可真是被“马云爸爸”带足了节奏。</span></p>
<div class="img-container" ><img class="normal" width="523px" data-loadfunc="0" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2415076345,1801075819&amp;fm=173&amp;app=49&amp;f=JPEG?w=523&amp;h=292&amp;s=BAA0EE070DC0BF6C5C5C540E000030C3" data-loaded="0" ></div>
<div class="img-container" >
<img class="normal" width="525px" data-loadfunc="0" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3899048255,918043926&amp;fm=173&amp;app=49&amp;f=JPEG?w=525&amp;h=103&amp;s=BBC0EE076E409F3AD8313C830000F0C3" data-loaded="0" ><span class="bjh-image-caption" >酒吧工作人员回应马云不是老板</span>
</div>
<p ><span class="bjh-p">不过还是有严谨的媒体做了求证，在询问“HHB酒吧工作人员”老板真的是马云吗？相关工作人员非常痛快的回答“不是”在问道实际老板是谁的时候，酒吧工作人员表示，是阿里集团的高管，而后根据查询的工商登记资料显示，酒吧的运营公司为杭州的一家娱乐管理公司，共有6位控股股东里面没有大家熟悉的马云，不过全部都是阿里系高管，<span class="bjh-strong" >包括阿里巴巴集团党委书记、阿里巴巴集团首席技术官、阿里大文娱事业群轮值总裁、阿里市场公关委员会主席、阿里巴巴集团副总裁以及前任阿里云总裁。</span></span></p>
<div class="img-container" >
<img class="normal" width="525px" data-loadfunc="0" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3167970290,1849678769&amp;fm=173&amp;app=49&amp;f=JPEG?w=525&amp;h=294&amp;s=1430AD3B5D28560D10F5E9D30100C0B3" data-loaded="0" ><span class="bjh-image-caption" >工商登记资料</span>
</div>
<div class="img-container" >
<img class="normal" width="528px" data-loadfunc="0" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2485936154,2297423915&amp;fm=173&amp;app=49&amp;f=JPEG?w=528&amp;h=288&amp;s=E1946D3A87525469064A5A6C0300E07C" data-loaded="0" ><span class="bjh-image-caption" >酒吧实际老板为阿里系高管</span>
</div>
<p ><span class="bjh-p">看到这里相信大家都清楚了吧，这轰轰烈烈的马云酒吧人家根本没出一份钱，大家不过是图了马云一个名气，但酒吧也确实做到了不以赚钱为目的的初衷，目前人均消费也就是80到120，不过现在酒吧暂不对外，只针对包场的人。</span></p>
<div class="img-container" >
<img class="large" data-loadfunc="0" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=444746277,1339387580&amp;fm=173&amp;app=49&amp;f=JPEG?w=550&amp;h=373&amp;s=2FD36B8704B739967A20C1A103006013" data-loaded="0" ><span class="bjh-image-caption" >马云</span>
</div>
<div class="img-container" >
<img class="normal" width="525px" data-loadfunc="0" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2184821826,3891093028&amp;fm=173&amp;app=49&amp;f=JPEG?w=525&amp;h=293&amp;s=5252A62910033B5756AA13890300E08C" data-loaded="0" ><span class="bjh-image-caption" >酒吧目前不单独对外</span>
</div>
<p ><span class="bjh-p">冷评君表示这轰轰烈烈的“马云酒吧”占据热搜榜，真的是“马云爸爸”送给我们2019年最好的谈资了，马云酒吧老板不是马云，实际老板另有其人，难怪马云要说那句话。</span></p>
</body></html>
</div>
      </div>

      <!-- Vue 的容器 -->
        <div id="App" class="list" style="margin-top:50px;">

          <div style="height:40px; line-height:40px; font-size:19px; font-weight:bold; color:#303030;">
          热门推荐
          </div>
          <!-- mh-pc-detail-001	-->
          <!-- %= render 'baidu_ad_async.js', mahuwang_ad_id: "u3573218" % -->
			  <div class="one server_ad">
				<div class="s2">
					<script type="text/javascript">
					var sogou_ad_id=995255;
					var sogou_ad_height=90;
					var sogou_ad_width=640;
					</script>
					<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
				</div>
			  </div>
          <!-- mh-pc-detail-002-feed -->
          <!-- %= render 'baidu_ad_async.js', mahuwang_ad_id: "u3573234" % -->
			  <div class="one server_ad">
				<div class="s2">
					<script type="text/javascript">
					var sogou_ad_id=995256;
					var sogou_ad_height=90;
					var sogou_ad_width=640;
					</script>
					<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
				</div>
			  </div>

          <div v-for="(v, k) in list">
            <div class="one" @click="detail(k);">
              <div class="s1 dflex" v-if="v.imgs.length<=1">
                <div class="pic">
                  <img v-if="v.imgs[0]" :src="v.imgs[0]['url']">
                </div>
                <div class="info flex-1">
                  <div class="title">{{v.title}}</div>
                  <div class="time">
                    <span>{{v.author}}</span> {{v.published_at}}</div>
                </div>
              </div>
              <div class="s2" v-else-if="v.imgs.length==3">
                <div class="title">{{v.title}}</div>
                <div class="pics">
                  <div class=" pic" v-for="vv in v.imgs">
                    <img :src="vv['url']">
                  </div>
                </div>
                <div class="time">
                  <span>{{v.author}}</span> {{v.published_at}}</div>
              </div>
            </div>

            <div v-if="k==1">
              <!-- %= render 'baidu_ad_async.js', mahuwang_ad_id: "u3568335" % -->
			  <div class="one server_ad">
				<div class="s2">
					<script type="text/javascript">
					var sogou_ad_id=995257;
					var sogou_ad_height=90;
					var sogou_ad_width=640;
					</script>
					<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
				</div>
			  </div>

            </div>

            <div v-if="k==3">
              <!-- %= render 'baidu_ad_async.js', mahuwang_ad_id: "u3568337" % -->
            </div>

          </div>
          <div class="loading" v-if="loading==1">
            <img src="/img/loading.gif">
          </div>
        </div>
      </div>


      </div>

    </div>

    <div class="footer">
        CopyRight 2016-2018 马乎网 All Rights Reserved 蜀ICP备17036893号
    </div>

  </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/zepto@1.2.0/dist/zepto.min.js"></script>
<script type="text/javascript" src="./js/common.js?v=1.0.016"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer" ></script>

<script type="text/javascript">
  var vue;
  vue = new Vue({
    el: '#App',
    data: {
      id: '',
      data: {},
      is_all: false,

      ad_rb_top: 0,
      ad_rb_fixed: false,

      page: 1,
      list: [],
      loading: 0,
    },
    methods: {
      init: function () {
        var that = this;
        // res = window.news;
        // if (res.id) {
        //   setTimeout(function () {
        //     // that.data = res;
        //     //that.getList();
        //   }, 0);
        // } else {

        // }

        that.page = 1;
        that.list = [];
        that.getList();
      },
      loadMore: function () {
        var that = this;
        if (that.loading == 0) {
          that.page++;
          that.getList();
        }
      },
      getList: function () {
        var that = this;
        that.loading = 1;
        ajax.get('news.json', { tag: 'recommend', page: that.page }, function (res) {
          if (res.length > 0) {
            for (var i in res) {
              var imgs = [];
              for (var j in res[i].list_item_images) {
                imgs.push(res[i].list_item_images[j]);
              }
              res[i].imgs = imgs;
            }
            setTimeout(function () {
              that.list = that.list.concat(res);
              that.loading = 0;
            }, 50);

          } else {
            that.loading = 2;
          }
        });
      },
      detail: function (k) {
        var that = this;
        window.location.href = '/detail?id=' + that.list[k].id;
      },
      back: function () {
        var that = this;

        if (document.referrer) {
          history.go(-1);
        } else {
          window.location.replace('/ch/recommend');
        }
      },
      backIndex: function () {
        window.location.replace('/ch/recommend');
      },
      showAll: function () {
        var that = this;
        that.is_all = true;
      },
      handleScroll: function () {
        var that = this;
        var scrollTop = window.scrollY;
        that.ad_rb_fixed = (scrollTop+44-that.ad_rb_top>0) ? true : false;

        if (scrollTop + window.innerHeight >= document.body.clientHeight) {
          that.loadMore();
        }

      }
    },
    created: function () {
      var that = this;
      that.id = common.getQueryString('id') || 0;

      var refArr = [
        'sogou-mobp-36fa3ecc0b2d2bfe',
        'sogou-waps-fd2ae8ec902471d8',
        'sogou-waps-89db09d856d45d36',
        'sogou-mobb-d2dc6368837861b4-0025',
        'sogou-mobp-af086cdab7954f11'
      ];
      refArr = [];
      var referrer = document.referrer || '';
      var pid = common.getParameterByName(referrer, "pid") || '';

      if (refArr.includes(pid) || document.location.host.includes("mahuwang.cn")) {
        this.has_ad = false;
        //隐藏服务端渲染的div  只需要把服务端渲染的 广告div 的 class 加一个 server_ad 就可以了 eg: class=“server_ad”
        // $(".server_ad").hide().remove();
      } else {
        this.has_ad = true;
      }

      that.init();

      $('.detail a').css({'color': '#333', 'text-decoration': 'none', 'cursor': 'text'});

      that.ad_rb_top = $('#ad-rb').offset().top;
      window.addEventListener('scroll', that.handleScroll);
    }
  });

</script>

<!-- 强制返回到首页 -->
<script language="javascript">

  var host = document.location.host;

  var referer = document.referrer;

  if (referer.indexOf(host) == -1) {
    var hostLink = 'http://' + host + '/ch/recommend';

    var liveLink = document.location.href;

    history.replaceState(null, '', hostLink);
    history.pushState('', '', liveLink);

    function refresh() {
      var liveUrl = document.location.href;

      if (liveUrl.indexOf("http://" + host + "/ch/recommend") !== -1) {
        location.reload();
      };
    };
    setInterval("refresh()", 500);
  };
</script>
  </body>

</html>